*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

    
body{
    /* width : 100vw;
    height:100vh; */
    font-family: 'Ubuntu', sans-serif;
    background: url('bg2.jpg');
    background-size: 1296px  864px;
    
}

.container{
    width : 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.outercontainer .heading{
    font-weight: bold;
    position: absolute;
    top: 70px;
    font-size: 2.5rem;
    color: white;
}
.outercontainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    /* background-color: rgb(243, 175, 150); */
    margin: 20px;
    padding:50px;
    border:2px solid white;
    border-radius: 15px;
    width:60%;
    height: 60%;   
}
.container span{
    display: block;
    
}
.container .buttonspan{
    display: inline;
}
.btn{
    padding: 5px;
    margin: 10px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
}
.btn:hover{
    background-color: rgba(85, 81, 81,0);
    /* background-color: none; */
    color: white;
    cursor: pointer;
    border:2px solid white;
}
.btn a:hover{
    color:white;
    /* cursor: pointer; */
}
.btn a{
    color: white;
    text-decoration: none;
    /* cursor: pointer; */
    
}
.container .uppercontainer{
    display: flex;
    /* justify-content: left; */
    justify-content: center;
    width: 100%;
    
}
.container .option{
    padding: 5px;
    border: 2px solid white;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    color: white;
    
}
.container .lowercontainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
.uppercontainer p{
    font-size: 2rem;
    color:white;
    margin: 10px;

}
.classred{
    border: 2px solid red;

}
.classgreen{
    border:2px solid greenyellow;

}
#searchbutton{
    position: relative;
    left: 300px;
}

.icon{
    color: #8e44ad;
}

